In [12]:
#Importing necessary libraries

#importing data handling libraries
import pandas as pd
import numpy as np
from collections import OrderedDict
from pandasql import sqldf


#importing data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

#importing statistical libraries
import scipy.stats as sc
from statsmodels.stats.outliers_influence import variance_inflation_factor

#importing data preprocessing libraries
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA


#importing machine learning libraries
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
import xgboost
from xgboost import XGBRegressor


#importing validation and model selection libraries
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, learning_curve
from sklearn.metrics import r2_score, mean_squared_error


#importing libraries to handle warnings
import warnings
warnings.filterwarnings('ignore')

In [13]:
df_personal = pd.read_excel('Medibuddy insurance data personal details.xlsx')
df_insurance = pd.read_csv('Medibuddy Insurance Data Price.csv')

In [14]:
df_insurance

     Policy no.  age     sex     bmi  charges in INR
0     PLC156898   19  female  27.900     16884.92400
1     PLC156907   18    male  33.770      1725.55230
2     PLC156916   28    male  33.000      4449.46200
3     PLC156925   33    male  22.705     21984.47061
4     PLC156934   32    male  28.880      3866.85520
...         ...  ...     ...     ...             ...
1333  PLC168895   50    male  30.970     10600.54830
1334  PLC168904   18  female  31.920      2205.98080
1335  PLC168913   18  female  36.850      1629.83350
1336  PLC168922   21  female  25.800      2007.94500
1337  PLC168931   61  female  29.070     29141.36030

[1338 rows x 5 columns]

In [22]:
df_insurance.drop(['Policy no.'], axis=1, inplace=True)
df_personal.drop(['Policy no.'], axis=1, inplace=True)

In [23]:
df_insurance

      age  sex     bmi  charges in INR
0      19    0  27.900     16884.92400
1      18    1  33.770      1725.55230
2      28    1  33.000      4449.46200
3      33    1  22.705     21984.47061
4      32    1  28.880      3866.85520
...   ...  ...     ...             ...
1333   50    1  30.970     10600.54830
1334   18    0  31.920      2205.98080
1335   18    0  36.850      1629.83350
1336   21    0  25.800      2007.94500
1337   61    0  29.070     29141.36030

[1338 rows x 4 columns]

In [24]:
#Label encoding
le = LabelEncoder()
df_insurance['sex'] = le.fit_transform(df_insurance['sex'])
df_personal['region'] = le.fit_transform(df_personal['region'])
df_personal['smoker'] = le.fit_transform(df_personal['smoker'])

In [25]:
#Looking at the descriptive statistics to get the better understanding of the data

def custom_summary(df):

    result =[]
    
    for col in list(df.columns):
        
        #Looking at the statistical parameters
        
        stats = OrderedDict({"featureName":col,
                            "count":df[col].count(),
                            "datatype":df[col].dtype,
                            "min":df[col].min(),
                            "Q1":df[col].quantile(0.25),
                            "Q2":df[col].quantile(0.5),
                            "Q3":df[col].quantile(0.75),
                            "Q4":df[col].quantile(1.0),
                            "mean":df[col].mean(),
                            "stdv":df[col].std(),
                            "var":df[col].var(),
                            "kurt":df[col].kurt(),
                            "skew":df[col].skew(),
                            "range":df[col].max() - df[col].min(),
                            "IQR": df[col].quantile(0.75) - df[col].quantile(0.25)
                            })
        
        # Checking the skewness of the data
        
        if df[col].skew()<-1.0:
            label = "Highly negatively skewed"
        elif -1.0<df[col].skew()<-0.5:
            label = "moderately negatively skewed"
        elif -0.5<df[col].skew()<0.5:
            label = "fairly symmetric"
        elif 0.5<df[col].skew()<1.0:
            label = "moderately positively skewed"
        else:
            label = "Highly positively skewed"
            
        stats['skewness comment'] = label;
        
        
        #Outliers identification
        
        upper_limit = stats['Q3'] + (1.5*stats['IQR'])
        lower_limit = stats['Q1'] - (1.5*stats['IQR'])
        if len([x for x in df[col] if x <lower_limit or x>upper_limit ]) > 0:
            outliers_label = "Has outliers"
        else:
            outliers_label = "No outliers"
        
        stats['Outlier comment'] = outliers_label        
        stats['number of outliers'] = len([x for x in df[col] if x <lower_limit or x>upper_limit ])
        
        #Calculating the outliers percentage
        
        stats['Percentage of outliers'] = stats['number of outliers']*100/stats['count']
        
        result.append(stats)
    resultdf = pd.DataFrame(data=result)
    return resultdf

In [26]:
custom_summary(df_insurance)

,featureName,count,datatype,min,Q1,Q2,Q3,Q4,mean,stdv,var,kurt,skew,range,IQR,skewness comment,Outlier comment,number of outliers,Percentage of outliers
0,age,1338,int64,18.0000,27.00000,39.000,51.000000,64.00000,39.207025,14.049960,1.974014e+02,-1.245088,0.055673,46.00000,24.000000,fairly symmetric,No outliers,0,0.000000
1,sex,1338,int64,0.0000,0.00000,1.000,1.000000,1.00000,0.505232,0.500160,2.501596e-01,-2.002557,-0.020951,1.00000,1.000000,fairly symmetric,No outliers,0,0.000000
2,bmi,1338,float64,15.9600,26.29625,30.400,34.693750,53.13000,30.663397,6.098187,3.718788e+01,-0.050732,0.284047,37.17000,8.397500,fairly symmetric,Has outliers,9,0.672646
3,charges in INR,1338,float64,1121.8739,4740.28715,9382.033,16639.912515,63770.42801,13270.422265,12110.011237,1.466524e+08,1.606299,1.515880,62648.55411,11899.625365,Highly positively skewed,Has outliers,139,10.388640